<h1>Requests I've made</h1>
<ul>
<% @user.bookings.each do |booking| %>
  <li>
    <%= booking.space.name %>
    <%= booking.check_in %>
    <%= booking.check_out %>
    <p> Your booking is <%= booking.status %> </p>
  </li>
<% end %>
</ul>


<h1>Requests I've received</h1>
<ul>

<% @user.spaces.each do |space| %>
  <% space.bookings.each do |booking| %>
    <% if booking.unconfirmed? %>
      <li>
        <a href="requests/received/<%= booking.id %>" id="received_request_<%= booking.id %>">
          <p><%= booking.user.first_name %> <%= booking.user.last_name %> has requested to book <%= booking.space.name %>.</p>
          <%= booking.check_in %>
          <%= booking.check_out %>
        </a>
      </li>
    <% end %>
  <% end %>
<% end %>
</ul>
