<h1 class="main_page_heading">Book a Space</h1>

<a href="/spaces/new" id="list_space_button">List a space</a>

<form class="form-inline" method='post' action='/spaces/filter_dates'>
  <div class="form-group">
    <label for="available_from">Available from</label>
    <input class="form-control" type="text" name="available_from" id="available_from" placeholder="Check in">
  </div>
  <div class="form-group">
    <label for="available_to"> to</label>
    <input class="form-control" type="text" name="available_to" id="available_to" placeholder="Check out">
  <button class="btn btn-default" type="submit">List spaces</button>
  </div>
</form>
<ul id="spaces">
  <% if @spaces %>
    <% @spaces.each do |space| %>
      <li class="space_list_item">
        <a class="space_moreinfo" href="/spaces/<%= space.id %>">
          <p class="space_price"> £<%=space.price%> per night </p>
          <p class="space_name"> <%=space.name%>

            <% if space.user == @user %>
              <span class="owner_badge"> You own this</span>
            <% end %>
          </p>
          <p> <%=space.description%> </p>
          <p> Available <%=space.available_from.strftime("%-d %B %Y")%> to <%=space.available_to.strftime("%-d %B %Y")%> </p>
        </a>
      </li>
    <% end %>
  <% else %>
    <h2>Sorry, no spaces meet those criteria. </h2>
  <% end %>
</ul>
