<% if @space %>
  <h1><%= @space.name %></h1>
  <h2><%= @space.description %></h2>
  <p>£<%= @space.price %> per night</p>
  <p>Available from: <%= @space.available_from.strftime("%-d %B %Y") %> to <%= @space.available_to.strftime("%-d %B %Y") %></p>

<% end %>

<form method='post' action='/requests/new'>
  <label>
    Check In:
    <input type="text" name="check_in" id="check_in" placeholder="Check In">
  </label>
  <label>
    Check Out:
    <input type="text" name="check_out" id="check_out" placeholder="Check Out">
  </label>
  <button type="submit">Request Booking</button>
</form>
