<h1> Available Properties </h1>

<form method='post' action='/spaces/filter_dates'>
  <label>
    Available from:
    <input type="text" name="available_from" placeholder="Check In">
  </label>
  <label>
    Available to:
    <input type="text" name="available_to" placeholder="Check Out">
  </label>
  <button type="submit">Submit</button>
</form>

<ul>
  <% if @spaces %>
    <% @spaces.each do |space| %>
      <li>
        <h2> <%=space.name%> </h2>
        <h3> <%=space.description%> </h3>
        <h3> £<%=space.price%> per night </h3>
        <h3> Available from <%=space.available_from.strftime("%-d %B %Y")%> to <%=space.available_to.strftime("%-d %B %Y")%> </h3>
        <a class="space_moreinfo" href="/spaces/<%= space.id %>">More</a>
      </li>
    <% end %>
  <% else %>
    <h2>Sorry, no spaces meet those criteria. </h2>
  <% end %>
</ul>
